body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}

main {
  min-height: 80vh; /* Ensure the main content area has sufficient height */
}

.content {
  padding: 20px; /* Optional padding for the main content */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}
