.container {
    background-color: #000000;
    color: aliceblue;
    padding: 0px 150px;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;

}

.navbar a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
}

.navbar a:hover,
.active {
    color: rgb(139, 139, 142) !important;
}

.logo {
    font-size: 25px;
    color: #000000;
    padding: 8px;
    background-color: antiquewhite;
    border-radius: 15px;
}